<!-<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReputationBuilder.io</title>
    <style>
        body {
            margin:0;
            padding: 0;
        }
        container {
            background-image: url('images/background-soon-dark.jpg');
            width: 100%;
            height: 100%;
            background-size: cover;
            display: block;
            position: relative;
        }

        other {
            margin-top:10%;
            float:left;
            width: 100%;
        }

        other h3 {
            color: #F2F2F2;
            font-weight: 100;
            text-align: center;

        }

        other h2 {
            color: #FFBF00;
            font-weight: 900;
            text-align: center;
        }
        logo {
            float: left;
        }

        @font-face {
            font-family: Helvetica;
            src: url('fonts/Helvetica.dfont');
        }

        logo-text h1{
            font-weight: lighter;
            font-style: normal;
            font-size: 58px;
            padding: 0;
            margin: 0;
            color: #F2F2F2;
            text-align: center;
        }

        #logo_span__1 {
            font-style: normal;
            font-weight:900;
            max-font-size: "43px";
        }

        logo-text {
            float: left;
            margin: 0;
            width: 100%;
            clear:both;

        }

        #logo_span__2 {
            color: #FFBF00;
            font-weight: 100;
            font-style: normal;
        }

        logo-text h2 {
            font-size: 24px;
            font-weight: lighter;
            padding: 0;
            margin: 0;
            position: absolute;
            top: 62px;
            left: 87px;
            color: #F2F2F2;
            letter-spacing: 3pt;


        }

        info {
            opacity: 0.5;
            margin-top: 100px;
            float: left;
            clear: both;
            width: 100%;
            height: 300px;

        }

        logo-wrapper {
            position: relative;
            float:left;
            display:block;
            margin-left: 35%;
            position: absolute;
            height: 200px;
            width: 491px;
            margin: -200px 0 0 -200px;
            top: 50%;
            left: 50%;

        }


    </style>
</head>
<body>
    <container>
        <other>
            <logo-text>
                <logo-wrapper>
                    <h1 id="logo"><span id="logo_span__1">Reputaion</span>Builder<span id="logo_span__2">.io</span></h1>
                    <h2>online reputation management</h2>
                </logo-wrapper>

            <info>
                <h2>LAUNCHING EARLY 2017</h2>
            </info>
            </logo-text>
        </other>
    </container>
</body>
</html>