<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReputationBuilder.io</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    <style>

        html {
            font-size: 10px;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	        background-repeat: no-repeat;
   	     position: absolute;
             overflow: hidden;
	        display: block;
    	    width: 100%;
   	     height: 100%;
	    background-color: #302B28;    
             background-size: cover;
        }

        html {
            font-family: Helvetica;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        html {
            background-image: url('images/background-soon-dark.jpg');
        }

        body {
            margin:0;
            padding: 0;
            background: none;
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

        }

        @font-face {
            font-family: Helvetica;
            src: url('fonts/Helvetica.dfont');
        }

        container {
            width: 100%;
            height: 100%;
            display: block;
            position: relative;
        }

        #logo {
            width: 300px;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-align-content: center;
            align-content: center;
            position: absolute;

        }

        logo {
            width: 500px;
            display: block;
            float: left;
            -webkit-align-content: center;
            align-content: center;
            text-align: center;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -70px;
            margin-left: -254px;
            margin-bottom: 30px;
        }

        h1 {
            color: #fcf8e3;
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        ;
            font-weight: 900;
            font-style: normal;
            margin: 0;
            letter-spacing: 2pt;
            font-stretch: expanded;
            font-size: 20pt;

        }

        h1 span {
            font-weight: normal;
            letter-spacing: 3pt;
        }

        #logo_io {
            color: #f0ad4e;
            letter-spacing: 1.4pt;
        }

        h2 {
            font-size:medium;
            margin: 0;
            text-align: center;
            letter-spacing: 2.4pt;
            font-weight: normal;
            font-family: Helvetica;
            color: #fcf8e3;
        }

        #register {
            -webkit-align-content: center;
            align-content: center;
            text-align: center;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-left: -200px;
            width: 400px;
        }

        #inputEmail1 {
            float: left;
            margin:0;
        }

        #registerButton {
            float: left;
            width: 20%;
            margin: 0 0 0 3px;
            background-color: #f0ad4e;
            color: #ffffff;
            border-color:#f0bd5e;
        }
        #emailHelp {
            float:left;
            font-family: sans-serif Helvetica;
            font-size: smaller;
            color: #fcf8e3;
            margin-top: 5px;
            margin-left: 5px;
         }

        #label_email {
            float: left;
        }

        #input_container {
            float: left;
            width: 75%;
        }

        .launching {
            float: left;
            width: 100%;
            text-align: centert;
            font-size: large;
            color: #f0ad4e;
            background-image: url('images/banner_03.png');
            position: fixed;
            bottom: 0px;
            padding: 5px;
            margin-top: 50%;
            background-repeat: repeat-x;
            -moz-background-image: url("images/banner_03.png");
            -webkit-background-image: url("images/banner_03.png");
            height:40px;
            line-height: 30px;
            display: block;
            font-weight: 900;

        }
    </style>
</head>
<body>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-84296859-1', 'auto');
        ga('send', 'pageview');

    </script>


    <container>
        {% for message in app.session.flashbag.get('notice') %}
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <p>{{ message }}</p>
    </div>
{% endfor %}

        <logo>
            <h1>Reputation<span>Builder</span><span id="logo_io">.io</span></h1>
            <h2>online reputation management</h2>
        </logo>


        <div class="form-group col-md-6 col-lg-6" id="register">

            <form method="post" action="/register">
                <div id="input_container">
                    <input type="email"
                            class="form-control"
                            id="inputEmail1"
                            aria-describedby="emailHelp"
                            placeholder="name@reputationbuilder.io"
                            name="email" autofocus>
                </div>

                <input type="submit"
                       id="registerButton"
                       class="form-control col-xs-6 "
                       action="/register"
                       value="Register" />
            </form>

        </div>
        <h2 class="launching">Launching Early 2017</h2>
    </container>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</body>
</html>
