<!-<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReputationBuilder.io</title>
</head>
<body>
    <container>
        {% image '@AppBundle/Resources/public/images/reputationbuilder-log.gif' %}
        <img src="{{ asset_url }}" alt="Example" />\
        {% endimage %}
        <logo></logo>
        <h1>ReputaionBuilder.io</h1>
        <h2>LAUNCHING EARLY 2017</h2>
        <h3>SIGN UP TO PARTICIPATE IN THE SOFT LAUNCH LATE 2016</h3>
        <form action="/softlaunch" method="post">
            <input type="text" name="email" value="myemail@reputationbuilder.io"/>
            <input type="button" value="click"/>
        </form>
    </container>
</body>
</html`>